<div class="sign-in-form-container">
  <div class="sign-in-form admin-register">
    <h2>New Employee</h2>

    <%= form_for @user, url: admin_create_user_path do |f| %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>

      <%= f.text_field :f_name, autocomplete: "first-name", placeholder: "First Name" %>

      <%= f.text_field :l_name, autocomplete: "last-name", placeholder: "Last Name" %>
        
      <%= f.submit "Register User", style:"margin-top:90px;" %>
    <% end %>

  </div>
</div>