<%= content_tag :div, class: "link", data: {link: @link} do %>
<% end %>
<div class = "employees-container">
    <div class="employee-search">
        <%= form_with(url: '/employees', method: 'get', local: true) do %>
            <%= text_field_tag(:search) %>
            <%= submit_tag("Search") %>
        <% end %>
        <%= link_to "Register New Employee", admin_new_user_path, style:"display:block;margin-top:15px;" %>
        <button id="copy">Send new employee registration link</button>
    </div>
    <div class="employee-list-container">
        <% @employees.each do |e|%>
            <%= button_to e.l_name + ", " + e.f_name, employee_path(e), method: :get, class: :"emp-btn"%>
        <% end %>
    </div>
</div>
<script>
    $(function() {
       var token = $('.link').data('link')
       var btn = document.getElementById('copy').addEventListener("click", function() {
           navigator.clipboard.writeText('localhost:3000/new_user/register/' + token)
           toastr.success("Link copied!")
       })
    });
</script>
