<div class = "employees-container">
    <div class="employee-search">
        <%= form_with(url: '/employees', method: 'get', local: true) do %>
            <%= text_field_tag(:search) %>
            <%= submit_tag("Search") %>
        <% end %>
        <%= link_to "Register New Employee", admin_new_user_path, style:"display:block;margin-top:15px;" %>
    </div>
    <div class="employee-list-container">
        <% @employees.each do |e|%>
            <%= button_to e.l_name + ", " + e.f_name, employee_path(e), method: :get, class: :"emp-btn"%>
        <% end %>
    </div>
</div>