<div style="margin-left:15px;margin-top:15px;">
    <%= link_to "Back", employee_path(@employee)%>
</div>
<h2 style="margin-top:15px;margin-left:15px;margin-bottom:15px;"><%= @employee.f_name + " " + @employee.l_name %></h2>
<%= link_to "Add new/missed punch", new_punch_path(@employee), style: "margin-left:15px;" %>
<div class="punch-main-container">
    <% @punches.each do |p| %>
        <div class="punch-section-container">
            <div class="punch-info">
                <%= p.in.in_time_zone(current_user.time_zone).strftime("In: %m/%d/%Y at %I:%M %p , ") %>
                <%= p.out.in_time_zone(current_user.time_zone).strftime("Out: %m/%d/%Y at %I:%M %p , ") %>
                <%= "#{'%.2f' % p.duration} hours" %>
                <%= button_to "Edit", edit_punch_path(@employee, p), method: :get %>
                <%= link_to "X", delete_punch_path(@employee, p), method: :delete, data: {confirm: "Are you sure?"}, class: "delete-X" %>
            </div>
        </div>
    <% end %>
</div>