<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @name %></p>
    <p><%= @email %></p>
    <p><%= @phone %></p>
    <p><%= @company %></p>
    <p><%= @employees %></p>
  </body>
</html>