<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <div class="home-container">
        <div class="header">
            <img src="https://simple-time-assets.s3-us-west-2.amazonaws.com/simple-time-logo.png" alt="" class="logo">
            <% if !user_signed_in? %>
                <%= button_to "LOG IN", new_user_session_path %>
            <% else %>
                <%= button_to "LOG OUT", destroy_user_session_path, method: :delete %>
                <%= link_to "User Dashboard", dashboard_path %>
            <% end %>
            <h1>We provide simple time keeping solutions for small businesses.</h1>
            <div class='learn-more' onclick="learnMoreClick()">
                <p>WHY CHOOSE US?</p>
                <img src="https://simple-time-assets.s3-us-west-2.amazonaws.com/down.png" alt="">
            </div>
        </div>
        <div class="section-1">
            <div class="section-1__why-us">
                <img src="https://simple-time-assets.s3-us-west-2.amazonaws.com/main-page-side-1" alt="">
                <div>
                    <h3>SIMPLICITY.</h3>
                    <p>We take a simple approach to time keeping, offering solutions for small business owners that are
                        easy to use and maintain.
                    </p>
                </div>
            </div>
            <div class='learn-more' onclick="learnMoreClick()">
                <p>RELIABILITY</p>
                <img src="https://simple-time-assets.s3-us-west-2.amazonaws.com/down2.png" alt="">
            </div>
        </div>
        <div class="section-2">
            <div class="section-2__why-us">
                <img src="https://simple-time-assets.s3-us-west-2.amazonaws.com/main-page-side-2" alt="">
                <div>
                    <h3>RELIABILITY.</h3>
                    <p>With simplicity comes reliability.  We are committed to providing the best product and service
                        possible to our customers.  
                    </p>
                </div>
            </div>
            <div class='learn-more' onclick="learnMoreClick()">
                <p>ECONOMIC</p>
                <img src="https://simple-time-assets.s3-us-west-2.amazonaws.com/down.png" alt="">
            </div>
        </div>
        <div class="section-3">
            <div class="section-3__why-us">
                <img src="https://simple-time-assets.s3-us-west-2.amazonaws.com/main-page-side-3" alt="">
                <div>
                    <h3>ECONOMIC.</h3>
                    <p>We know that for small businesses, cost effectiveness is essential.  We provide the highest quality
                        of service at the lowest price.  
                    </p>
                </div>
            </div>
            <div class='learn-more' onclick="learnMoreClick()">
                <p>FEATURES &#38; PRICING</p>
                <img src="https://simple-time-assets.s3-us-west-2.amazonaws.com/down3.png" alt="">
            </div>
        </div>
        <div class="section-features">
            <div class="list-div">
                <h3>FEATURES &#38; PRICING</h3>
                <ul>
                    <li>Entirely web based time keeping: No download necessary.  All that's needed to access the portal is a computer, tablet, or smartphone with internet connection.</li>
                    <li>Scheduling: Easily schedule your employees for shifts, which they will be able to view in their calendar.</li>
                    <li>Time Off Requests: Managing your employees' time off requests is simple using our admin dashboard.</li>
                    <li>Calendars: Your employees can easily access their past shifts, upcoming schedule, and time off requests using their dashboard calendar.</li>
                    <li>Flexibility: Easily add, remove, or update employees in your system.</li>
                    <li>Reports: Timekeeping data can be exported as needed in easy to use formats.</li>
                    <li>High quality, low price: We charge only $1 per employee per month for access to all of our services, saving you and your business money.</li>
                    <li>Designed with small businesses in mind: no minimum number of employees.
                </ul>
                <div style="text-align:center;">
                    <%= button_to "START YOUR FREE TRIAL", new_company_path, method: :get, class: "trial-btn" %>
                </div>
            </div>
            <div class='learn-more' onclick="learnMoreClick()">
                <p>GET IN CONTACT</p>
                <img src="https://simple-time-assets.s3-us-west-2.amazonaws.com/down2.png" alt="">
            </div>
        </div>
        <div class="section-4">
            <div class="form-div">
                <%= form_for :lead, url: "send_email" do |form| %>
                    <div class="form-section">
                        <%= form.text_field :name, placeholder: "Your Name" %>
                    </div>
                    <div class="form-section">
                        <%= form.text_field :company, placeholder: "Company" %>
                    </div>
                    <div class="form-section">
                        <%= form.number_field :employees, placeholder: "Number of Employees" %>
                    </div>
                    <div class="form-section">
                        <%= form.email_field :email, placeholder: "Email" %>
                    </div>
                    <div class="form-section">
                        <%= form.telephone_field :phone, placeholder: "Phone Number" %>
                    </div>
                    <%= form.submit("Submit") %>
                <% end  %>
            </div>
        </div>
    </div>
</html>
<script>
    function learnMoreClick() {
        let height = window.innerHeight;
        window.scrollBy(0,height);
    }
</script>